{%extends 'base.html'%}{%load bootstrap5%}{%block content%}
<div class="row">
  <div class="col-lg-2"></div>

  <div class="col-lg-8 profdetail">
    <img
      class="card-img-top profimg"
      src="{{user.profile.prof_image.url}}"
      alt="damn"
    />
    <div class="texty">
      <p>
        <span>Username:</span>
        {{user}}
      </p>
      <p><span>Email: </span> {{user.email}}</p>
      <p><span>Bio: </span>{{user.profile.bio}}</p>
      <a
        name=""
        id=""
        class="btn btn-primary updatebtn"
        href="{%url 'update_profile' user.username %}"
        role="button"
        >UPDATE</a
      >
    </div>
  <div class="col-lg-2"></div>
</div>

{%endblock%}
