{%extends 'base.html'%}{%load bootstrap5%}{%block content%}{% load static %}
<link rel="stylesheet" href="{% static 'css/viewprofile.css' %}">
<div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 profdetail">
        <img class="card-img-top profimg" src="{{user.profile.prof_image.url}}" alt="damn" />
        <div class="texty">
            <p>
                <span>Username:</span>
                {{user}}
            </p>
            <p><span>Email: </span> {{user.email}}</p>
            <p><span>Bio: </span>{{user.profile.bio}}</p>
            <h2 class=" text-center mt-4" style="margin-left:20%;">Review Rate</h2>
            {% if rating_status %}
            <!-- <h5>You have already done your review</h5> -->
            {% else %}
            {% if user.is_authenticated %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-sm btn-info btn-block" style="margin-top:4px;" value="review" type="submit">Rate</button>
            </form>
            {% endif %}
            {% endif %}
            <div id="rating-stars" class="align-center">
                <div class="stars">
                    <label aria-label="first-star" class="star-label" for="rate-1"><i
                            class="rate-icon star-icon fa fa-star"></i></label>
                    <input class="rate-input" name="rating" id="rate-1" value="1" type="radio">
                    <label aria-label="second-star" class="star-label" for="rate-2"><i
                            class="rate-icon star-icon fa fa-star"></i></label>
                    <input class="rate-input" name="rating" id="rate-2" value="2" type="radio">
                    <label aria-label="third-star" class="star-label" for="rate-3"><i
                            class="rate-icon star-icon fa fa-star"></i></label>
                    <input class="rate-input" name="rating" id="rate-3" value="3" type="radio">
                    <label aria-label="fourth-star" class="star-label" for="rate-4"><i
                            class="rate-icon star-icon fa fa-star"></i></label>
                    <input class="rate-input" name="rating" id="rate-4" value="4" type="radio">
                    <label aria-label="fifth-star" class="star-label" for="rate-5"><i
                            class="rate-icon star-icon fa fa-star"></i></label>
                    <input class="rate-input" name="rating" id="rate-5" value="5" type="radio">
                </div>
            </div>

        </div>
    </div>
        <div class="col-md-2"></div>
        <hr>
        <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="text-center">Ratings</h2>
            <table class="table justify-content-center" style="border:1">
                <th>quality_of_work_ratings</th>
                <th>punctuality_ratings</th>
                <th>customer_relations_ratings</th>
                <th>Overal Score</th>
                {% for reviews in reviews %}
                <tr>
                    <td class="user">{{ reviews.user.username }}</td>
                    <td class="design">{{ reviews.design }}</td>
                    <td class="usability">{{ reviews.usability }}</td>
                    <td class="content">{{ reviews.content }}</td>
                    <td class="average">{{reviews.average }}</td>
            
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-3"></div>
        </div>
</div>
{%endblock%}