{%extends 'base.html'%}
{%block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<div class="container">
    <div class="row">
        <div class="left col-md-6 mt-5" style="text-align:center;">
            <h2>WHAT WE ARE:</h2><br>
            <p>We offer full range of garage-connect services to vehicle owners in Kenya. Our professionals know how to
                handle a wide range of
                car services. Whether you drive a passenger car or medium sized truck or SUV, our mechanics' connects
                strive to ensure that your
                vehicle will be performing at its best for your satisfaction. We can handle any car problem.</p>
        </div>

        <div class="right col-md-6  mt-2">
            <img src="{% static 'images/about1.png' %}" alt="image1" width="400">
        </div>
    </div>
    <section class="testimonial text-center">
        <div class="container">
            <div class="heading white-heading">
                WHAT OUR CLIENTS SAY
            </div>
            <div id="testimonial4"
                class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x"
                data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">

                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="testimonial4_slide">
                            <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                            <p>I have brought several of my family cars here for the past four years and they have
                                connected me
                                professional mechanics. Their services are top notch.</p>
                            <h4>Mike</h4>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial4_slide">
                            <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                            <p>Company got better, lets crown this one!Pure intentions in this company, the services are
                                great!</p>
                            <h4>Harriet</h4>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial4_slide">
                            <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                            <p>My car broke down at night, this guys deliver, anywhere, anytime! They are very
                                reliable.I recommend them</p>
                            <h4>John</h4>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </section>
    <br><br>
    <section id="team">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2 class="text-center">Meet Our Team</h2>
                    <p class="pl-5">We are a friendly, helpful and professional group of people <br>
                        We get the job done right — the first time <br>
                        Our professionals know how to handle a wide range of car services
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="member-img">
                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg"
                                class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Victoria Mwangi</h4>
                            <p>Developer</p>
                            <p>Vicky@example.com</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="member-img">
                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg"
                                class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h5>Loise Mulwa</h5>
                            <p class="title">Developer</p>
                            <p>Loise@example.com</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="member-img">
                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg"
                                class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h5>Gladys Wambura</h5>
                            <p class="title">Developer</p>
                            <p>gladyswahito7@example.com</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="member-img">
                            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg"
                                class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h5>Joy Marocho</h5>
                            <p class="title">Developer</p>
                            <p>joy@example.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>
</div>
{% endblock %}