{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer class="section footer-classic context-dark bg-image" style="background: #102f3e;">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light"
                            src="{% static 'images/mech5.jpeg' %}" alt="" width="300" height="200"></a>
                            <br><br>
                    <p>We are an award-winning creative company, dedicated to the best result in garage-connect services to vehicle owners in Kenya. 
                         We ensure that your vehicle will be performing at its best for your satisfaction..</p>
                    <p class="rights"><span>© </span><span class="copyright-year">2022, Find a mechanic</span><span>
                        </span><span>Company</span><span> - </span><span>All Rights Reserved.</span></p>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Contacts</h5>
                <dl class="contact-list">
                    <dt>Address:</dt>
                    <dd>Nairobi, mechstreet, 10001</dd>
                </dl>
                <dl class="contact-list">
                    <dt>email:</dt>
                    <dd><a href="mailto:#">findamech@gmail.com</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>phones:</dt>
                    <dd><a href="tel:#">020-254-254-1000</a> <span>or</span> <a href="tel:#">024-960-315</a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4 col-xl-3">
                <h5>Links</h5>
                <ul class="nav-list">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Search_results</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row no-gutters social-container">
        <div class="col"><a class="social-inner" href="#"><span
                    class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
        <div class="col"><a class="social-inner" href="#"><span
                    class="icon mdi mdi-instagram"></span><span>Instagram</span></a></div>
        <div class="col"><a class="social-inner" href="#"><span
                    class="icon mdi mdi-twitter"></span><span>Twitter</span></a></div>
        <div class="col"><a class="social-inner" href="#"><span
                    class="icon mdi mdi-youtube-play"></span><span>Youtube</span></a></div>
    </div>
</footer>