{%extends 'base.html'%} {%block content%} {% load static %} {% load bootstrap5
%}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<div class="container-fluid">
  <div class="section1">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./media/slid2.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="./media/reg.jpg" class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="./media/slide.jpg" class="d-block w-100" alt="..." />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

      <br /><br /><br /><br />

      <div class="section1footer mt-5 container">
        <div class="row row-cols-3">
          <div class="card2">
            <h5>ENGINE DIAGNOSTICS</h5>
            <p>Our mechs come handy with Synthetic engine oils</p>
          </div>

          <div class="card3">
            <h5>ENGINE DIAGNOSTICS</h5>
            <p>Our mechs come handy with Synthetic engine oils</p>
          </div>

          <div class="card4">
            <h5>ENGINE DIAGNOSTICS</h5>
            <p>Our mechs come handy with Synthetic engine oils</p>
          </div>
        </div>
      </div>
    </div>
    <br /><br /><br /><br />
    <div class="section2 container">
      <div class="row">
        <div class="col-md-6">
          <h2>OUR MISSION</h2>
          <br />
          <p>
            We offer a full range of garage services to vehicle owners located
            in Kenya. All mechanic services are performed by highly qualified
            mechanics. We can handle any car problem.
          </p>
          <small
            >Once you select the mechanic of your choice according to your
            location and type of car, we will dispatch a mechanic to your
            location of choice. The mechanic will arrive in a company van,
            equipped with all the tools and parts necessary to get the job done.
            To ensure that they show up with the correct parts, it’s important
            that you give accurate information about your vehicle. For example,
            providing your VIN (Vehicle Identification Number) can go a long way
            in helping the mechanic secure the correct parts.</small
          ><br /><br />

          <input type="submit" value="Book a Mechanic" class="allbtn" />
        </div>

        <div class="col-md-6">
          <img src="{% static 'images/home1.jpg' %}" alt="" width="800" />
        </div>
        <br /><br /><br /><br />
      </div>
      <div class="section3">
        <!-- WHY CHOOSE US AREA START -->
        <br /><br /><br />
        <div class="y-us-section">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <div class="y-us-head">
                  <div class="y-us-title">
                    <h2>Why choose us</h2>
                    <p>
                      We offer a full range of garage services to vehicle owners
                      located in Kenya.
                    </p>
                    <span class="y-us-title-border"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="y-us-content">
                  <div class="service-3">
                    <div class="service-box">
                      <div class="clearfix">
                        <div class="iconset">
                          <span class="glyphicon glyphicon-cog icon"></span>
                        </div>
                        <div class="y-us-content">
                          <h4>safety first</h4>
                          <p>
                            All mechanic services are performed by highly
                            qualified mechanics. We can handle any car problem.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="service-box">
                      <div class="clearfix">
                        <div class="iconset">
                          <span class="glyphicon glyphicon-cog icon"></span>
                        </div>
                        <div class="y-us-content">
                          <h4>CLEAN SURFACE</h4>
                          <p>
                            Globally incubate standards compliant channels
                            before scalable benefits. Quickly disseminate
                            superior del
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="service-box">
                      <div class="clearfix">
                        <div class="iconset">
                          <span class="glyphicon glyphicon-cog icon"></span>
                        </div>
                        <div class="y-us-content">
                          <h4>PROFESSIONAL</h4>
                          <p>
                            Globally incubate standards compliant channels
                            before scalable benefits. Quickly disseminate
                            superior del
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="why-choose-banner">
                  <img
                    src="http://themeinnovation.com/demo2/html/build-up/img/home1/why-choose.jpg"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="y-us-contentbox">
                  <div class="service-3">
                    <div class="service-box">
                      <div class="clearfix">
                        <div class="iconset">
                          <span class="glyphicon glyphicon-cog icon"></span>
                        </div>
                        <div class="y-us-content">
                          <h4>sustainability</h4>
                          <p>
                            Globally incubate standards compliant channels
                            before scalable benefits. Quickly disseminate
                            superior del
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="service-box">
                      <div class="clearfix">
                        <div class="iconset">
                          <span class="glyphicon glyphicon-cog icon"></span>
                        </div>
                        <div class="y-us-content">
                          <h4>MODERN PAINTING</h4>
                          <p>
                            Globally incubate standards compliant channels
                            before scalable benefits. Quickly disseminate
                            superior del
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="service-box">
                      <div class="clearfix">
                        <div class="iconset">
                          <span class="glyphicon glyphicon-cog icon"></span>
                        </div>
                        <div class="y-us-content">
                          <h4>home decor</h4>
                          <p>
                            Globally incubate standards compliant channels
                            before scalable benefits. Quickly disseminate
                            superior del
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br /><br /><br /><br /><br /><br />
        <!-- WHY CHOOSE US AREA END -->

        <header>
          <div class="mySlides raceCar fade">
            <div class="textAd">
              <h2>Excellent Car Repair</h2>
            </div>
          </div>
          <div class="mySlides engine fade">
            <div class="textAd">
              <h2>Superb Car Service</h2>
            </div>
          </div>
          <div class="mySlides know fade">
            <div class="textAd">
              <h2>Expert Car Knowledge</h2>
            </div>
          </div>
          <div class="mySlides guest fade">
            <div class="textAd">
              <h2>Great Guest Service</h2>
            </div>
          </div>
        </header>
      </div>
    </div>
  </div>
</div>
{%endblock%}
