
<nav class="navbar navbar-expand-lg bg-light rounded" aria-label="Eleventh navbar example">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09"
        aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
        <div class="pl-5"></div>
        <div class="pl-5"></div>
        <form role="search" action="" method="get" class="form-inline my-2 my-md-0">
            <input class="form-control ml-5" type="search" placeholder="Search" aria-label="Search">
        </form>
        <!-- <a class="navbar-brand mx-auto" href="/">Awwwards</a> -->
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="pl-5"></div>
            <div class="pl-5"></div>
            <a class="navbar-brand mx-auto pl-5" href="/"><strong>Mechanic</strong></a>
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="me-3 py-2 text-dark text-decoration-none dropdown">
                    <a class=" dropdown-toggle" href="" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="" rel="stylesheet" type="text/css" width="35"
                            height="40"></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown10">
                        <li><a class="dropdown-item" href="">
                                <img src="" rel="stylesheet" type="text/css"
                                    width="30">Profile</a>
                        </li>
                        <!-- <li><a class="dropdown-item" href="#"><img src="#" rel="stylesheet" type="text/css" viewBox="0 0 24 24"
                                        width="15">Change Passowrd</a>
                            </li> -->
                        <li><a class="dropdown-item" href="/logout"><img src=""
                                    rel="stylesheet" type="text/css" viewBox="0 0 24 24" width="30">logout</a>
                        </li>
                </li>
            </ul>
            <li class="nav-item">
                <a href=""><button type="button"
                        class="btn btn-outline-info btn-md">Post here</button></a>
            </li>
            <div class="pl-5"></div>
            {% else %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <p class="mt-2">Are you a member?</p>
                </li>
                <li class="nav-item">
                    <a href=""><button type="button" class="btn btn-info">Register</button></a>
                </li>
                <li class="nav-item">
                    <a href=""><button type="button" class="btn btn-outline-info btn-sm">Login</button></a>
                </li>
                <li class="nav-item">
                    <a href=""><button type="button" class="btn btn-outline-info btn-sm text-white bg-dark">Post!</button></a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>