{% extends 'registration/base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container">
  <br><br><br><br><br><br>
  <div class="row mt-4">
    <div class="col-md-1"></div>
    <div class="card flex-row bg-white" style="width: 60rem;box-shadow: 0 4px 8px 0 rgba(116, 41, 41, 0.2);">

      <div class="col-md-6 card-img-md-right  card-img-responsive">
        <img src="" alt="" width="100%" height="100%">
      </div>

      <div class="col-md-6 ml-5">
        {% if form.errors %}
        <p> Password or Username is incorrect </p>
        {% endif %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="text-center font-weight-bold">Sign In</h3>
          </div>
          <div class="panel-body">
            <form class="m-5" action="/accounts/login/" method="post">
              {% csrf_token %}
              {% bootstrap_form form%}

              <div class="form-group">
                <input type="submit" class="btn btn-info btn-sm" value="Login">
              </div>
              <input type="hidden" name="next" value="{{next}}">
            </form>
          </div>
          <small class="pl-5">Already have an account? <a class="pl-2 btn btn-outline-info btn-sm"
              href="/accounts/register">Sign
              Up</a></small>
        </div>
        <br><br>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- <a class="password reset pl-5" href="#">Forgot password</a> -->