{%extends 'registration/base.html'%} {%load bootstrap5%} {%block content%}
<div class="row reg">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-8 ">
    <div class="regcontainer">
    <img src='/media/reg.jpg' class='regImg' />

    <div class="container ">
      {%if form.errors%}
      <p>Kindly fill in the correct details</p>
      {%endif%}
      <form class="registerfrm " action="/accounts/register/" method="post">
        <h5 class='formtitle'>SIGN UP</h5>
        {%bootstrap_form form%}
        <input type="submit" value="Sign Up" class="allbtn" />
         {%csrf_token%}
         <p class="ask">Already have an account?
            <a class='sign' href='/accounts/login'>Login</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  </div>
  <div class="col-lg-2"></div>
</div>


{%endblock%}
